[submodule "Scripts"]
	path = Scripts
	url = git@github.com:mrtuborg/obsidian-customjs.git
[submodule "Templates"]
	path = Templates
	url = git@github.com:mrtuborg/obsidian-templates.git
[submodule "mind-vault"]
	path = mind-vault
	url = git@github.com:mrtuborg/mind-vault.git
[submodule "minds-vault"]
	path = minds-vault
	url = https://github.com/mrtuborg/mrtuborg.github.io.git
